.ipynb_checkpoints
2fullmodels_old
4fullmodels_old
models
# Store only the best model for each type in the repo
models_*/rubiks_epoch*
# This model is too big and Git Large File Storage isn't working for some reason
models_26_lstm/rubiks_best
# Everything here is way too big
models_more_data/*_lstm/rubiks_*
!models_more_data/*_lstm/rubiks_best.gz
models_streaming/*_lstm/rubiks_*
!models_streaming/*_lstm/rubiks_best.gz
# Place I use when I need to dump to an arbitrary file location
foo
# Filename for when I need to write a short sanity checking script
foo.lua
